:root {
  --orange1: #ff723a;
  --orange2: #e75115;
  --star-gold: #ffc71d;
  --text-light-grey: #707070;
  --text-light: #505050;
  --text-blue: #2878eb;
  --bg-color: #fff6f3;
  --profile-bg-color: rgba(123, 168, 238, 0.2);
  --margin-base: 95px;
  --font-base: Manrope;
  --header-card-1-bg: #ffefe8;
  --header-card-2-bg: #e0faf6;
  --header-card-3-bg: #eeeaff;
  --header-card-4-bg: #faf8e4;
  --header-card-5-bg: #e8f9ff;
  --header-card-6-bg: #ffeff1;
  --header-card-7-bg: #f1f8e4;
  --header-card-8-bg: #fbedff;
  --play-button-color: #3b87e8;
  --border-thin: 1px solid rgba(112, 112, 112, 0.2);
}

body {
  font-family: var(--font-base);
  margin: 0;
  background-color: #ffffff;
}

#filler {
  display: none;
  height: 6rem;
  width: 100%;
  background-color: white;
}

body .fixed-header {
  position: fixed;
  top: 0;
  width: 95%;
  background-color: white;
  z-index: 4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header {
  position: relative;
  display: flex;
  height: 6rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* z-index: 6; */
}

header .logo a {
  text-decoration: none;
  color: inherit;
  font-family: Merriweather;
  font-size: 2rem;
  font-weight: 600;
}

header .logo a:hover {
  color: inherit;
}

header .links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

header .links a {
  font-size: 20px;
  color: #505050;
  text-decoration: none;
  margin-right: 20px;
}

header .links .cap {
  display: inline-block;
  transform: rotateZ(180deg);
  font-size: 30px;
  font-weight: 200;
}

header .all-categories .header-categories {
  position: absolute;
  width: 900px;
  padding: 30px 30px 15px;
  background-color: white;
  top: 96px;
  left: 380px;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  box-sizing: border-box;
  transform: translateY(-20px);
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

header .all-categories:hover .header-categories {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

header .header-categories .drp-dwn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  /* height: 35px; */
  padding: 14px 10px;
  margin: 0 5px 15px 0;
  border-radius: 8px;
  box-sizing: border-box;
}

header .header-categories .drp-dwn-card span img {
  margin-right: 10px;
  vertical-align: -2px;
}

header .header-categories .drp-dwn-card a p {
  display: inline-block;
  margin: 0;
}

header .header-categories .dd-card-1 {
  background-color: var(--header-card-1-bg);
}

header .header-categories .dd-card-2 {
  background-color: var(--header-card-2-bg);
}

header .header-categories .dd-card-3 {
  background-color: var(--header-card-3-bg);
}

header .header-categories .dd-card-4 {
  background-color: var(--header-card-4-bg);
}

header .header-categories .dd-card-5 {
  background-color: var(--header-card-5-bg);
}

header .header-categories .dd-card-6 {
  background-color: var(--header-card-6-bg);
}

header .header-categories .dd-card-7 {
  background-color: var(--header-card-7-bg);
}

header .header-categories .dd-card-8 {
  background-color: var(--header-card-8-bg);
}

header .profile {
  position: relative;
  width: 20%;
  height: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
}

header .profile .profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--profile-bg-color);
}

header .profile .profile-logo:hover {
  cursor: pointer;
}

header .profile .profile-dropdown {
  position: absolute;
  top: 60px;
  left: 220px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  /* padding: 10px; */
  border-radius: 10px;
  /* width: 100px; */
  background-color: white;
  z-index: 6;
}

header .profile .profile-dropdown span {
  display: inline-block;
  /* margin: 5px 0; */
  color: #505050;
  padding: 5px 15px 5px 15px;
}

header .profile .profile-dropdown span:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header .profile .profile-dropdown span:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header .profile .profile-dropdown span:hover {
  cursor: pointer;
  /* text-decoration: underline 2px rgba(0, 0, 0, 0.5); */
  background-color: rgba(0, 0, 0, 0.05);
}

header .profile .profile-dropdown span a {
  text-decoration: none;
  color: inherit;
}

header .profile .profile-dropdown span a:hover {
  color: inherit;
}

main {
  display: flex;
  margin: 40px var(--margin-base);
  align-items: flex-start;
  border: var(--border-thin);
  box-sizing: content-box;
}

main .dashboard-left {
  /* border: var(--border-thin); */
  width: 20%;
  /* box-sizing: border-box; */
}

main .dashboard-left .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  padding: 20px;
  /* margin-bottom: 20px; */
}

main .dashboard-left .top .profile-image {
  width: 130px;
  height: 130px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

main .dashboard-left .top .profile-image img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

main .dashboard-left .top p {
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

main .dashboard-left .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* box-sizing: border-box; */
  overflow: hidden;
}

main .dashboard-left .bottom span {
  width: 100%;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
}

main .dashboard-left .bottom span:hover {
  cursor: pointer;
  background-color: var(--orange1);
  color: white;
}

main .dashboard-left .bottom .selected {
  background-color: var(--orange1);
  color: white;
}

main .dashboard-right {
  width: 80%;
}

main .dashboard-right .section-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: var(--border-thin);
  box-sizing: content-box;
}

main .dashboard-right .section-heading h2 {
  /* width: 100%; */
  margin-bottom: 0;
}

main .dashboard-right .section-heading p {
  margin-top: 12px;
}

main .dashboard-right .section-content {
  padding: 150px;
  border-top: var(--border-thin);
  border-left: var(--border-thin);
}

main .dashboard-right .section-content .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

main .dashboard-right .section-content .name .name-first,
.name-last {
  width: 45%;
}

main .dashboard-right .section-content #about {
  height: 200px;
}

main .dashboard-right .section-content form input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: var(--border-thin);
}

main .dashboard-right .section-content .links-box {
  margin-top: 150px;
}

main .dashboard-right .section-content .save-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .dashboard-right .section-content .btn-save {
  /* margin-top: 150px; */
  background-color: white;
  color: var(--text-light-grey);
  border: var(--border-thin);
  width: 20%;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

main .dashboard-right .section-content .btn-save:hover {
  cursor: pointer;
  background-color: var(--orange1);
  color: white;
}

main .dashboard-right .section-content .profile-picture-box {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

main .dashboard-right .section-content .profile-picture-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .dashboard-right .section-content .ppicture-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  border: var(--border-thin);
  color: var(--text-light-grey);
}

main .dashboard-right .section-content .profile-picture-box #ppicture {
  width: 40%;
  color: var(--text-light-grey);
}

/* Footer */
footer {
  height: 85vh;
  background-color: var(--bg-color);
}

footer hr {
  height: 1px;
  background-color: var(--orange2);
  border: none;
}

.foot-top {
  height: 28%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 35px var(--margin-base);
}

.foot-top h2 {
  font-family: var(--font-base);
  font-size: 2.5rem;
  margin: 0;
}

.foot-top .socials {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.foot-top .socials .socials-icon-bg {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
  object-fit: fill;
  transition: background-color 0.2s ease-in 0s;
}

.foot-top .socials .socials-icon-bg:hover {
  cursor: pointer;
}

.socials .socials-icon-bg img {
  height: 18px;
  width: 18px;
  transition: all 0.2s ease-in 0s;
}

.foot-mid {
  height: calc(100% - 28% - 17%);
  display: flex;
  padding: 0 var(--margin-base);
  justify-content: space-between;
  box-sizing: border-box;
  border-top: 0.1px solid rgba(255, 114, 58, 0.2);
  border-bottom: 0.1px solid rgba(255, 114, 58, 0.2);
}

.foot-mid div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 23px 30px;
}

.foot-mid div h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.foot-mid .footer-cards {
  transform: translateY(50px);
  opacity: 0;
}

#subscribe-form {
  width: 100%;
}

#subscribe-form input {
  color: #000009;
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
  margin-bottom: 20px;
}

#subscribe-form button {
  background-color: var(--orange1);
  color: white;
  font-size: 15px;
  display: block;
  width: 80%;
  height: 50px;
  border-radius: 30px;
  border: none;
  /* padding-left: 20px;   */
  margin-bottom: 20px;
  transition: color, background-color 0.4s ease 0s;
}

#subscribe-form button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff4a02;
}

.foot-bottom {
  font-size: 18px;
  font-weight: 300;
  height: 17%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin-base);
}

.foot-bottom .copyright {
  width: 70%;
  color: var(--text-light);
}

.foot-bottom .help {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
