
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    position: relative;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }

  /* Form Styles */
  .modal-content h2 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
  
  button{
    background-color: #ff723a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e75115;
  }
  
  